---
title: Web Resources
---

.container-fluid
	.col-md-3#sidebar
		%p.text-center See links related to:
		.list-group#filters
			= link_to 'All', '#', :class => 'list-group-item active', :data => {:filter => '*' }
		.grey
			= partial "about"
	.col-md-7.col-md-offset-3
		%h1= current_page.data['title']
		%p.current-filter.lead
			Showing "<span id="current-filter">All</span>"
		#resources
			- if data.respond_to? :links
				- data.links.each do |link|
					- link[1]['id'] = link[0]
					- link = link[1]
					- link['tags'] = '' if not link.has_key? 'tags'
					%div{ :class => 'resource ' + link['tags'].gsub(',','')}
						%h2.title= link_to link["title"], link["url"]
						:markdown
							#{link['description']}
						%p.text-right.tags.grey
							Filed In:
							%small
								- link['tags'].split(', ').each do |tag|
									%code.grey=tag
			- else
				%p.lead.text-center <strong>No Resources Found</strong>